.ul {
    font-size: 20px;
    list-style: none;
    position: fixed;
    right: 30px;
    top: 10px;
    cursor: pointer;
    z-index: 10;
    font-family: 'Style Script', cursive;
    background-color: lightyellow;
}
body {
    text-align: center;
}
img {
    width: 700px;
    height: 500px;
}